<div class="cv-list-groups">
  {% for content in entry.contents %}
    <div class="cv-group-section">
      <div class="cv-group-header">
        {% if content.icon %}
          <i class="cv-group-icon {{ content.icon }}"></i>
        {% endif %}
        <h4 class="cv-group-title">{{ content.category }}</h4>
      </div>
      
      <div class="cv-group-items">
        {% for item in content.items %}
          <div class="cv-group-item">
            <div class="cv-item-main">
              <div class="cv-item-name">{{ item.name }}</div>
              
              <div class="cv-item-details">
                {% if item.level %}
                  <span class="cv-item-level">{{ item.level }}</span>
                {% endif %}
                
                {% if item.school %}
                  <span class="cv-item-school">{{ item.school }}</span>
                {% endif %}
                
                {% if item.time %}
                  <span class="cv-item-time">{{ item.time }}</span>
                {% endif %}
              </div>
            </div>
            
            {% if item.link %}
              <div class="cv-item-link">
                <a href="{{ item.link }}" target="_blank" class="cv-link-button">
                  {% if item.linkname %}{{ item.linkname }}{% else %}Document{% endif %}
                </a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
