<div class="cv-timeline">
  {% for content in entry.contents %}
    <div class="cv-timeline-item">
      <div class="cv-timeline-content">
        {% if content.year %}
          <div class="cv-year-badge">
            <span class="year-text">{{ content.year }}</span>
            {% if content.location %}
              <div class="location-info">
                <i class="fa-solid fa-location-dot"></i>
                <span>{{ content.location }}</span>
              </div>
            {% endif %}
          </div>
        {% endif %}
        
        <div class="cv-details">
          {% if content.title %}
            <h5 class="cv-title">{{ content.title }}</h5>
          {% endif %}
          
          {% if content.institution or content.department %}
            <div class="cv-institution-info">
              {% if content.institution %}
                <div class="institution-item">
                  <i class="fa-solid fa-building-columns"></i>
                  <span>{{ content.institution }}</span>
                </div>
              {% endif %}
              {% if content.department %}
                <div class="department-item">
                  <i class="fa-regular fa-circle-dot"></i>
                  <span>{{ content.department }}</span>
                </div>
              {% endif %}
            </div>
          {% endif %}
          
          {% if content.maindescription %}
            <div class="cv-main-description">{{ content.maindescription }}</div>
          {% endif %}
          
          {% if content.description %}
            <ul class="cv-description-list">
              {% for item in content.description %}
                <li class="cv-description-item">
                  {% if item.contents %}
                    <strong>{{ item.title }}</strong>
                    <ul class="cv-sub-list">
                      {% for subitem in item.contents %}
                        <li>{{ subitem }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {{ item }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
          {% if content.items %}
            <ul class="cv-description-list">
              {% for item in content.items %}
                <li class="cv-description-item">
                  {% if item.contents %}
                    <strong>{{ item.title }}</strong>
                    <ul class="cv-sub-list">
                      {% for subitem in item.contents %}
                        <li>{{ subitem }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {{ item }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
          {% if content.linkitems %}
            <div class="cv-links">
              {% for item in content.linkitems %}
                {% if item.link %}
                  <a href="{{ item.link }}" target="_blank" class="cv-link-button">
                    {% if item.linkname %}{{ item.linkname }}{% else %}Document{% endif %}
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
